@using MvcWebUl.Models
@model IEnumerable<ProductModel>

<div class="container">
    <div class="card-deck row">

        @foreach (var urun in Model)
        {

            <div class="card col-md-4 mb-2">
                <img class="card-img-top" alt="@urun.Name" src="/Upload/@urun.Image">
                <div class="card-body">
                    <h5 class="card-title"><a href="/Home/Details/@urun.Id">@urun.Name</a> </h5>
                    <p class="card-text description">@urun.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted product-price">$@urun.Price</small>
                    <a href="/Home/Details/@urun.Id" class="btn btn-outline-primary btn-sm">>>Ürünü incele</a>
                </div>
            </div>
        }

    </div>
</div>